<!doctype html>
{% load static %}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/icon.png' %}" />
    <title>Cinetic</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://kit.fontawesome.com/85a1dbcec1.js" crossorigin="anonymous"></script>
    <style type="text/css">
        @font-face {
          font-family: monument;
          src: url({% static 'img/font.otf' %});
        }
    </style>
</head>
<body style="background-image: url({% static 'img/background.jpg' %}); background-size: cover; background-repeat: no;">
<!--
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse dual-nav w-50 order-1 order-md-0" id="navbarNav">
        <ul class="nav navbar-nav mr-auto mt-2 mt-lg-0 menu">
            <li class="nav-item {% if cur == 'homes' %}active{% endif %}">
                <a class="nav-link" value="" href="/">home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item {% if cur == 'artwork' %}active{% endif %}">
                <a class="nav-link" value="/artwork" href="/artwork">artwork</a>
            </li>
            <li class="nav-item {% if cur == 'profile' %}active{% endif %}">
                <a class="nav-link" value="/profile" href="/profile">profile</a>
            </li>
            <li class="nav-item {% if cur == 'contact' %}active{% endif %}">
                <a class="nav-link" value="/contact" href="/contact" tabindex="-1">contact</a>
            </li>
        </ul>

        <a class="navbar navbar-brand justify-content-center" href="#">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/e/e0/WPVG_icon_2016.svg/1024px-WPVG_icon_2016.svg.png"
                 width="30" height="30" class="d-inline-block align-top"
                 alt="">
            Cinetic
        </a>

        <ul class="navbar navbar-nav navbar-expand-sm">
            <li class="nav-item"><a class="nav-link" href="#">FB</a></li>
            <li class="nav-item"><a class="nav-link" href="#">IG</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Youtube</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Cloud</a></li>
        </ul>
    </div>
</nav> -->
<nav class="navbar navbar-dark navbar-expand-md justify-content-between sticky-top" style="background-color: black">
    <div class="container-fluid">
        <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target=".dual-nav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse dual-nav w-50 order-1 order-md-0">
            <ul class="navbar-nav">
                <li class="nav-item {% if cur == 'homes' %}active{% endif %}">
                    <a class="nav-link" value="" href="/">home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item {% if cur == 'artwork' %}active{% endif %}">
                    <a class="nav-link" value="/artwork" href="/artwork">artwork</a>
                </li>
                <li class="nav-item {% if cur == 'profile' %}active{% endif %}">
                    <a class="nav-link" value="/profile" href="/profile">profile</a>
                </li>
                <li class="nav-item {% if cur == 'contact' %}active{% endif %}">
                    <a class="nav-link" value="/contact" href="/contact" tabindex="-1">contact</a>
                </li>
                </ul>
        </div>
        <a href="/" class="navbar-brand mx-auto d-block text-center order-0 order-md-1 w-25"><img src="{% static 'img/icon.png' %}"
                 width="40" height="40" class="d-inline-block align-top"
                 alt=""></a>
        <div class="navbar-collapse collapse w-50 order-2">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="https://web.facebook.com/cinetic.cinetic.3"><i class="fab fa-facebook"></i></a></li>
                <li class="nav-item"><a class="nav-link" href="https://www.instagram.com/cinetic.studio/"><i class="fab fa-instagram"></i></a></li>
                <li class="nav-item"><a class="nav-link" href="https://www.youtube.com/channel/UCmsvaOK3uMq0jqXuGDPmamA"><i class="fab fa-youtube"></i></a></li>
                <li class="nav-item"><a class="nav-link" href="https://twitter.com/CineticStudio"><i class="fab fa-twitter"></i></a></li>
            </ul>
        </div>
    </div>
</nav>
<div id="konten">
    {% block content %}

    {% endblock %}
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script>
    $( document ).ready(function() {
        $("#konten").hide();
        $("#konten").fadeIn(1700,"swing");
    });
</script>
<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
</body>
</html>