{% extends 'base.html' %}


{% block content %}
<div class="container nothome">
    <h4>contact.</h4>
    {% for contact in contacts %}
    <div class="container" style="padding: 20px 0 20px 0; text-align: justify;">
        <p>
            {{ contact.kontak_deskripsi }}
        </p>
        <p>
            Contact me here: <br>
            {{ contact.name }} <br>
            Phone: {{ contact.phone }} <br>
            e-mail: {{ contact.email }}
        </p>
    </div>
    <h4>address.</h4>
    <div class="container" style="padding: 20px 0 20px 0">
        <iframe src="{{contact.link_maps}}"
            width="80%" height="350" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>
    {% endfor %}
</div>
{% endblock %}