{% extends 'base.html' %}

{% block content %}
    <div class="container nothome">
    {% for art in contentarts %}
        {% if art.judul == artwork %}
            <h3 style="color: white">{{ art.judul }}</h3>
            <div class="container" style="padding: 5% 0 0 0">
                {% if art.video_url != "0" %}
                <iframe src="{{ art.video_url }}"
                        allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
                        frameborder="0"
                        width="100%"
                        height="400px"
                        allowfullscreen></iframe>
                {% else %}
                <img src="{{ art.image_url }}" height="auto" class="card-img" alt="">
                {% endif %}
            </div>
            {% if art.image2_url != "0" %}
            <div class="container" style="padding: 5% 0 0 0">
                <img src="{{ art.image2_url }}" height="auto" class="card-img" alt="">
            </div>
            {% endif %}
            {% if art.image3_url != "0" %}
            <div class="container" style="padding: 5% 0 0 0">
                <img src="{{ art.image3_url }}" height="auto" class="card-img" alt="">
            </div>
            {% endif %}
            <div class="container" style="padding: 5% 0 0 0; text-align: justify; font-size: 14px;">
                <p style="color: white">{{ art.deskripsi }}</p>
            </div>
        {% endif %}
    {% endfor %}
    </div>
{% endblock %}