.hello{
    color: red;
	font-family: "arial";
}
.navbar .active{
    font-weight: bold;
}

.navbar .nav-item .nav-link{
    color: white;
}

body{
    background-color: black;
}

.kontenpad{
    padding: 20px 0 20px 0
}

.toppad{
    padding-top: 100px;
}

.slider {
  background: #333;
  height: 400px;
  width: 100%;
}

#logo {
  background: #ccc;
  width: 150px;
  height: 70px;
}

.navbar-toggler {
  margin-top: 15px;
}

.abs-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}