.custom-toggler.navbar-toggler {

}

.navbar .active{
    font-weight: bold;
}

.navbar .nav-item .nav-link{
    color: white;
}

body{
    background-color: black;
    font-family: monument;
    font-size: 12px;
}

.kontenpad{
    padding: 20px 0 20px 0
}

.toppad{
    padding-top: 100px;
}

.slider {
  background: #333;
  height: 400px;
  width: 100%;
}

#logo {
  background: #ccc;
  width: 150px;
  height: 70px;
}

.navbar-toggler {
  margin-top: 15px;
}

.abs-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

.video-background-holder {
  position: relative;
  background-color: black;
  height: calc(100vh - 72px);
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

.video-background-holder video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.video-background-content {
  position: relative;
  z-index: 2;
}

.video-background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.4;
  z-index: 1;
}

.w-link:hover {
    text-decoration: none;
    color: grey;
}

.w-link {
    color: #ffff;
}

.nothome {
    padding: 5% 15% 2% 15%;
    color: #FFFF
}
